In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [2]:
rides_df = pd.read_csv('/kaggle/input/uber-lyft-cab-prices/cab_rides.csv')

In [3]:
weather_df = pd.read_csv('/kaggle/input/uber-lyft-cab-prices/weather.csv')

In [4]:
rides_df.head(5)

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [5]:
weather_df.head(5)

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49

In [6]:
rides_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693071 non-null  float64
 1   cab_type          693071 non-null  object
 2   time_stamp        693071 non-null  int64
 3   destination       693071 non-null  object
 4   source            693071 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  693071 non-null  float64
 7   id                693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 52.9+ MB

In [7]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

In [8]:
rides_df.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [9]:
rides_df = rides_df.dropna(axis = 0).reset_index(drop=True)
rides_df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
637971,1.00,Uber,1543708385534,North End,West End,9.5,1.0,353e6566-b272-479e-a9c6-98bd6cb23f25,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV
637972,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
637973,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
637974,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
637975,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [10]:
weather_df.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [11]:
weather_df = weather_df.dropna(axis = 0).reset_index(drop=True)
weather_df

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
889,39.51,North Station,1.0,1018.09,0.0280,1543751574,0.92,5.41
890,39.41,Northeastern University,1.0,1018.06,0.0331,1543751574,0.92,5.37
891,39.62,South Station,1.0,1018.08,0.0376,1543751574,0.92,5.47
892,39.47,Theatre District,1.0,1018.08,0.0333,1543751574,0.92,5.43
893,39.46,West End,1.0,1018.09,0.0281,1543751574,0.92,5.41

In [12]:
weather_df

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
889,39.51,North Station,1.0,1018.09,0.0280,1543751574,0.92,5.41
890,39.41,Northeastern University,1.0,1018.06,0.0331,1543751574,0.92,5.37
891,39.62,South Station,1.0,1018.08,0.0376,1543751574,0.92,5.47
892,39.47,Theatre District,1.0,1018.08,0.0333,1543751574,0.92,5.43
893,39.46,West End,1.0,1018.09,0.0281,1543751574,0.92,5.41

In [13]:
weather_df.groupby('location').mean()

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,42.800676,0.949324,1005.730135,0.056012,1.543715e+09,0.865000,9.400270
Beacon Hill,42.698421,0.934474,1005.667763,0.057097,1.543684e+09,0.861974,9.384868
Boston University,42.907027,0.957162,1005.203514,0.054688,1.543691e+09,0.872838,9.142568
Fenway,43.013143,0.954857,1004.826714,0.054863,1.543660e+09,0.871000,9.436571
Financial District,43.425342,0.948082,1005.969315,0.061352,1.543677e+09,0.853973,9.344932
Haymarket Square,42.747500,0.935658,1005.695395,0.059593,1.543691e+09,0.861842,9.452632
North End,42.736623,0.930000,1005.532078,0.058712,1.543666e+09,0.860779,9.419870
North Station,42.617500,0.931125,1005.744625,0.056542,1.543694e+09,0.862625,9.410875
Northeastern University,42.865070,0.955634,1005.022394,0.054197,1.543701e+09,0.876197,9.496479
South Station,43.437260,0.954932,1005.937534,0.059537,1.543690e+09,0.855753,9.292877
Theatre District,42.763288,0.947123,1005.751370,0.060214,1.543673e+09,0.871233,9.357534
West End,42.575455,0.929091,1005.540000,0.058803,1.543682e+09,0.861688,9.384935

In [14]:
avr_weather_df = weather_df.groupby('location').mean().reset_index(drop = False)
avr_weather_df

,location,temp,clouds,pressure,rain,time_stamp,humidity,wind
0,Back Bay,42.800676,0.949324,1005.730135,0.056012,1.543715e+09,0.865000,9.400270
1,Beacon Hill,42.698421,0.934474,1005.667763,0.057097,1.543684e+09,0.861974,9.384868
2,Boston University,42.907027,0.957162,1005.203514,0.054688,1.543691e+09,0.872838,9.142568
3,Fenway,43.013143,0.954857,1004.826714,0.054863,1.543660e+09,0.871000,9.436571
4,Financial District,43.425342,0.948082,1005.969315,0.061352,1.543677e+09,0.853973,9.344932
5,Haymarket Square,42.747500,0.935658,1005.695395,0.059593,1.543691e+09,0.861842,9.452632
6,North End,42.736623,0.930000,1005.532078,0.058712,1.543666e+09,0.860779,9.419870
7,North Station,42.617500,0.931125,1005.744625,0.056542,1.543694e+09,0.862625,9.410875
8,Northeastern University,42.865070,0.955634,1005.022394,0.054197,1.543701e+09,0.876197,9.496479
9,South Station,43.437260,0.954932,1005.937534,0.059537,1.543690e+09,0.855753,9.292877
10,Theatre District,42.763288,0.947123,1005.751370,0.060214,1.543673e+09,0.871233,9.357534
11,West End,42.575455,0.929091,1005.540000,0.058803,1.543682e+09,0.861688,9.384935

In [15]:
avr_weather_df = avr_weather_df.drop('time_stamp', axis = 1)
avr_weather_df

,location,temp,clouds,pressure,rain,humidity,wind
0,Back Bay,42.800676,0.949324,1005.730135,0.056012,0.865000,9.400270
1,Beacon Hill,42.698421,0.934474,1005.667763,0.057097,0.861974,9.384868
2,Boston University,42.907027,0.957162,1005.203514,0.054688,0.872838,9.142568
3,Fenway,43.013143,0.954857,1004.826714,0.054863,0.871000,9.436571
4,Financial District,43.425342,0.948082,1005.969315,0.061352,0.853973,9.344932
5,Haymarket Square,42.747500,0.935658,1005.695395,0.059593,0.861842,9.452632
6,North End,42.736623,0.930000,1005.532078,0.058712,0.860779,9.419870
7,North Station,42.617500,0.931125,1005.744625,0.056542,0.862625,9.410875
8,Northeastern University,42.865070,0.955634,1005.022394,0.054197,0.876197,9.496479
9,South Station,43.437260,0.954932,1005.937534,0.059537,0.855753,9.292877
10,Theatre District,42.763288,0.947123,1005.751370,0.060214,0.871233,9.357534
11,West End,42.575455,0.929091,1005.540000,0.058803,0.861688,9.384935

In [16]:
rides_df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
637971,1.00,Uber,1543708385534,North End,West End,9.5,1.0,353e6566-b272-479e-a9c6-98bd6cb23f25,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV
637972,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
637973,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
637974,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
637975,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [17]:
source_weather_df = avr_weather_df.rename(
    columns = {
        'location' : 'source',
        'temp' : 'source_temp',
        'clouds': 'source_clouds',
        'pressure': 'source_pressure',
        'humidity': 'source_rain',
        'wind': 'source_wind'
    }
)
source_weather_df

,source,source_temp,source_clouds,source_pressure,rain,source_rain,source_wind
0,Back Bay,42.800676,0.949324,1005.730135,0.056012,0.865000,9.400270
1,Beacon Hill,42.698421,0.934474,1005.667763,0.057097,0.861974,9.384868
2,Boston University,42.907027,0.957162,1005.203514,0.054688,0.872838,9.142568
3,Fenway,43.013143,0.954857,1004.826714,0.054863,0.871000,9.436571
4,Financial District,43.425342,0.948082,1005.969315,0.061352,0.853973,9.344932
5,Haymarket Square,42.747500,0.935658,1005.695395,0.059593,0.861842,9.452632
6,North End,42.736623,0.930000,1005.532078,0.058712,0.860779,9.419870
7,North Station,42.617500,0.931125,1005.744625,0.056542,0.862625,9.410875
8,Northeastern University,42.865070,0.955634,1005.022394,0.054197,0.876197,9.496479
9,South Station,43.437260,0.954932,1005.937534,0.059537,0.855753,9.292877
10,Theatre District,42.763288,0.947123,1005.751370,0.060214,0.871233,9.357534
11,West End,42.575455,0.929091,1005.540000,0.058803,0.861688,9.384935

In [18]:
destination_weather_df = avr_weather_df.rename(
    columns = {
        'location' : 'destination',
        'temp' : 'destination_temp',
        'clouds': 'destination_clouds',
        'pressure': 'destination_pressure',
        'humidity': 'destination_rain',
        'wind': 'destination_wind'
    }
)
destination_weather_df

,destination,destination_temp,destination_clouds,destination_pressure,rain,destination_rain,destination_wind
0,Back Bay,42.800676,0.949324,1005.730135,0.056012,0.865000,9.400270
1,Beacon Hill,42.698421,0.934474,1005.667763,0.057097,0.861974,9.384868
2,Boston University,42.907027,0.957162,1005.203514,0.054688,0.872838,9.142568
3,Fenway,43.013143,0.954857,1004.826714,0.054863,0.871000,9.436571
4,Financial District,43.425342,0.948082,1005.969315,0.061352,0.853973,9.344932
5,Haymarket Square,42.747500,0.935658,1005.695395,0.059593,0.861842,9.452632
6,North End,42.736623,0.930000,1005.532078,0.058712,0.860779,9.419870
7,North Station,42.617500,0.931125,1005.744625,0.056542,0.862625,9.410875
8,Northeastern University,42.865070,0.955634,1005.022394,0.054197,0.876197,9.496479
9,South Station,43.437260,0.954932,1005.937534,0.059537,0.855753,9.292877
10,Theatre District,42.763288,0.947123,1005.751370,0.060214,0.871233,9.357534
11,West End,42.575455,0.929091,1005.540000,0.058803,0.861688,9.384935

In [19]:
rides_df.merge(source_weather_df, on = 'source')

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,source_temp,source_clouds,source_pressure,rain,source_rain,source_wind
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,42.74750,0.935658,1005.695395,0.059593,0.861842,9.452632
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,42.74750,0.935658,1005.695395,0.059593,0.861842,9.452632
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,42.74750,0.935658,1005.695395,0.059593,0.861842,9.452632
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,42.74750,0.935658,1005.695395,0.059593,0.861842,9.452632
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,42.74750,0.935658,1005.695395,0.059593,0.861842,9.452632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637971,2.44,Lyft,1544756708324,Beacon Hill,Northeastern University,22.5,1.0,9e912026-fe86-4052-b5e9-69fc82de8fff,lyft_lux,Lux Black,42.86507,0.955634,1005.022394,0.054197,0.876197,9.496479
637972,2.44,Lyft,1544756708324,Beacon Hill,Northeastern University,30.0,1.0,a9d9b5f3-96b2-496e-a008-454e01601c50,lyft_luxsuv,Lux Black XL,42.86507,0.955634,1005.022394,0.054197,0.876197,9.496479
637973,2.44,Lyft,1544756708324,Beacon Hill,Northeastern University,9.0,1.0,c17cd3cd-8874-4340-8bf8-867d97d54a18,lyft,Lyft,42.86507,0.955634,1005.022394,0.054197,0.876197,9.496479
637974,2.44,Lyft,1544756708324,Beacon Hill,Northeastern University,13.5,1.0,dab84800-33c5-40a1-a1fc-a5ea6fe4d018,lyft_plus,Lyft XL,42.86507,0.955634,1005.022394,0.054197,0.876197,9.496479
637975,2.44,Lyft,1543364122510,Beacon Hill,Northeastern University,16.5,1.0,ff7c33fd-8d0c-4efb-9a71-3f55890ef6d2,lyft_premier,Lux,42.86507,0.955634,1005.022394,0.054197,0.876197,9.496479

In [20]:
data = rides_df\
        .merge(source_weather_df, on = 'source')\
        .merge(destination_weather_df, on = 'destination')

In [21]:
def oneshot_preprocess(df, column, prefix):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix = prefix)
    df = pd.concat([df,dummies], axis = 1)
    df = df.drop(column, axis = 1)
    return df

In [22]:
def preprocess_inputs(df):
    df = df.copy()
    df = df.drop('id', axis = 1)
    df['cab_type'] = df['cab_type'].replace({'Lyft': 0 , 'Uber': 1})
    for column, prefix in [('destination', "dest"), ('source', "src"), ('product_id', "pid"), ('name', "nm")]:
        df = oneshot_preprocess(df, column = column, prefix = prefix)
    y = df['price']
    X = df.drop('price', axis = 1)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state = 1)
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), columns = X.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)
    
    return X_train, X_test, y_train, y_test

In [23]:
 X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [24]:
X_train

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,rain_x,source_rain,source_wind,...,nm_Lux,nm_Lux Black,nm_Lux Black XL,nm_Lyft,nm_Lyft XL,nm_Shared,nm_UberPool,nm_UberX,nm_UberXL,nm_WAV
0,-0.907502,0.965023,1.052466,-0.157573,-0.501366,-0.787537,0.420064,0.853473,-0.412920,0.870713,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717
1,-1.366050,-1.036244,1.349844,-0.157573,-0.980539,-1.216072,0.564299,-0.478446,-0.294204,0.390282,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,3.383432,-0.307171,-0.307725,-0.307411,-0.306717
2,0.221232,-1.036244,-0.650481,-0.157573,-0.682269,-0.899491,0.339109,-0.236211,-0.392968,0.091063,...,-0.296703,-0.296283,-0.295311,-0.295459,3.396730,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717
3,-0.836956,-1.036244,-0.263877,-0.157573,-0.541457,-1.322428,-0.058424,0.468541,-0.574093,0.493776,...,-0.296703,-0.296283,-0.295311,-0.295459,3.396730,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717
4,0.185959,-1.036244,1.196148,-0.157573,0.477779,1.027540,-2.125007,-1.211716,0.975757,0.685933,...,3.370374,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446578,0.979599,0.965023,-0.440635,-0.157573,1.997124,0.387043,1.222599,1.621228,-1.606228,-0.368432,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,3.249650,-0.307411,-0.306717
446579,0.803235,-1.036244,0.933611,-0.157573,-0.980539,-1.216072,0.564299,-0.478446,-0.294204,0.390282,...,-0.296703,3.375153,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717
446580,2.020150,0.965023,-0.515087,-0.157573,1.997124,0.387043,1.222599,1.621228,-1.606228,-0.368432,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,-0.307411,3.260332
446581,0.723871,0.965023,0.993690,-0.157573,-0.980539,-1.216072,0.564299,-0.478446,-0.294204,0.390282,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,3.252969,-0.306717
446582,0.697416,0.965023,-0.687061,-0.157573,0.086642,1.245454,-1.021056,-1.288123,1.254441,-2.696733,...,-0.296703,-0.296283,-0.295311,-0.295459,-0.294401,-0.295558,-0.307171,-0.307725,-0.307411,-0.306717

In [25]:
y_train

114027    27.0
597473     5.0
342796    16.5
64532     13.5
189601    16.5
          ...
371403    10.5
491263    27.5
470924    18.5
491755    16.5
128037    23.0
Name: price, Length: 446583, dtype: float64